* {
	box-sizing: border-box;
}
.Banner {
	position:relative;
	width: 100%;
}
.BannerCell {
	display: none;
}
.img_banner {
	margin-top: 3.53em;
}
article.sobre {
	display: grid;
	grid-template: 10% 1fr / 30% 40% 30%;
	padding: 0.6em;
	padding-top: 0px;
	margin-bottom: 1em;
}
h1.sobre {
	display: grid;
	grid-row-start: 1;
	grid-column-start: 2;
	text-align: center;
	color: #1c488e;
	-webkit-margin-before: 0.3em;
	-webkit-margin-after: 0.3em;
}
p.sobre {
	display: grid;
	-webkit-margin-before: 0.6em;
	-webkit-margin-after: 0.3em;
	grid-row-start: 2;
	grid-column-start: 2;
	border-bottom: 1px solid black;
	padding-bottom: 0.3em;
	text-align: justify;
}
article.comentsAlunos {
	display: grid;
	grid-template: 10% 10% 35% 10% 35% / 1fr;
	margin: 1em;
	margin-top: 0em;
	text-align: justify;
}
h2.comentsAlunos, h3.comentsAlunos {
	text-align: center;
	color: #676f7c;
}
h3.comentsAlunos {
	color: #474747;
}
@media only screen and (min-width: 320px) and (max-width: 736px)
{
	article.sobre {
		display: grid;
		grid-template: 10% 1fr 10% / 5% 90% 5%; 
	}
	.Banner {
		display: none;
	}
	.BannerCell {
		display: block;
		position: relative;
		width: 100%;
		margin-top: 3.53em;
	}
}
