{% extends 'base.html' %}
{% load static %}
	   
{% block title %}Área do Aluno - IMPACTA{% endblock %}

{% block main %}
<section class="content">
    <div class="areaAluno">
    <div class="listLinks">
        <ul class=flexList>
            <a class="liLink matricula" onclick="matricula_function()">Matrículas</a>
                <div class="selectionList flexColumn" id="liDrop">
                    <a class="liLink btn" href="{% url 'matricula' %}">Criar Matrícula</a>
                    <a class="liLink btn" href="{% url 'historico' %}">Histórico</a>
                </div>
            </li>
            <li class="liLink"><a class="liLink" href="{% url 'msg_aluno' %}">Mensagens</a></li>
            <li class="liLink"><a class="liLink" href="{% url 'upload_aluno' %}">Trabalhos e Exercícios</a></li>
            <li class="liLink"><a class="liLink" href="{% url 'boletim' %}">Boletim</a></li>
        </ul>
    </div>
    {% block conteudoAluno %}{% endblock %}
    </div>
</section>
{% endblock %}