{% extends 'base.html' %}

{% load static %}

{% block estilo_unico %}{% static '/' %}css/site.css{% endblock %}

{% block script_unico %}{% endblock %}
	   
{% block title %}Faculdade Impacta - Home{% endblock %}

{% block main %}
    <section class="areaAluno">
        <div class="listLinks">
            
            <ul class=flexList>
                <li class="liLink"><a class="liLink" href="matricula.html">Matrículas</a></li>
                <li class="liLink"><a class="liLink" href="mensagem.html">Mensagens</a></li>
                <li class="liLink"><a class="liLink" href="#">Enviar Trabalhos e Exercícios</a></li>
                <li class="liLink"><a class="liLink" href="#">Receber Trabalhos e Exercícios</a></li>
            </ul>
        </div>
    </section>
{% endblock %}