{% extends 'base.html' %}
{% load static %}

{% block estilo_unico %}{% static '/' %}css/site.css{% endblock %}

{% block script_unico %}{% endblock %}
	   
{% block title %}Área do aluno{% endblock %}

{% block main %}
<section class="areaAluno">
    <div class="listLinks">
        
        <ul class=flexList>
            <li class="liLink" onclick="dropDown('liDrop')">Matrículas
                <div class="selectionList flexColumn" id="liDrop">
                    <a class="linkBtn" href="{% url 'matricula' %}">Criar Matrícula</a>
                    <a class="linkBtn" href="{% url 'historico' %}">Histórico</a>
                </div>
            </li>
            <li class="liLink"><a class="liLink" href="{% url 'msg_aluno' %}">Mensagens</a></li>
            <li class="liLink"><a class="liLink" href="{% url 'upload_aluno' %}">Trabalhos e Exercícios</a></li>
        </ul>
    </div>
    {% block conteudoAluno %}{% endblock %}
</section>
{% endblock %}