{% extends 'base.html' %}

{% load static %}

{% block estilo_unico %}{% static '/' %}css/site.css{% endblock %}

{% block script_unico %}{% endblock %}
	   
{% block title %}Faculdade Impacta - Home{% endblock %}

{% block main %}
    <section class="areaProf">
        <div class="listLinks">
            
            <ul class=flexList>
                <li class="liLink"><a class="liLink" href="{% url 'msg_professor' %}">Mensagens</a></li>
                <li class="liLink"><a class="liLink" href="{% url 'upload_prof' %}">Trabalhos e Exercícios</a></li>
            </ul>
        </div>
        {% block conteudoProf %}{% endblock %}
    </section>
{% endblock %}