{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width = device-width, initial-scale = 1.0" />
	<link rel="icon" href="{% static '/' %}img/icone.ico" type="image/x-icon" />
	<link rel="stylesheet" href="{% static '/' %}css/site.css" />
	<link rel="stylesheet" href='{% block estilo_unico %}{% endblock %}' />
	<script src="{% static '/' %}src/site.js"></script>
	<script src="{% block script_unico %}{% endblock %}"></script>
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<header class="motherNav">
		<nav class="menu">
			<a href="/" title="Logo Faculdade Impacta">
				<img class="img_logo" src="{% static '/' %}img/logo-novo.png" alt="Logo e link para a home" />
			</a>
			<div class='menus'>
				{% if not user.is_authenticated %}
				<button class="user" title="{% if not user.is_athenticated %}Entre{% else %}Logado{% endif %}">
					<a href='login.html'>
						<img class="img_user" src="{% if not user.is_athenticated %}{% static '/' %}img/img_user.png{% else %}{% static '/' %}img/img_user.png{% endif %}"
						 alt="Usuario" />
					</a>
				</button>
				{% else %}
				<div>
					<button class="user" onclick="login_function()" title="{% if not user.is_athenticated %}Entre{% else %}Logado{% endif %}">
						<img class="img_user" src="{% if logado == False %}{% static '/' %}img/img_user.png{% else %}{% static '/' %}img/img_user.png{% endif %}"
						 alt="Usuario" />
					</button>
					<nav id="drop_login" class="conteudo_login">
						{% if user.user_type == 'A' %}
						<a href='area_aluno.html'>Área do aluno</a>
						<a href="/logout">Sair</a>
						{% elif user.user_type == 'P' %}
						<a href='area_professor.html'>Área do professor</a>
						<a href="/logout">Sair</a>
						{% endif %}
					</nav>
				</div>
				{% endif %}
				<div class="drop_menu" title="Menu">
					<button onclick="menu_function()" class="dropbtn">
						<img src="{% static '/' %}img/menu_icons_bars.png" class="menu_icon" />
					</button>
					<nav id="drop" class="conteudo_menu">
						<a class="link" href="cursos.html" title="Cursos">Cursos</a>
						<a class="link" href="noticias.html" title="Notícias">Notícias</a>
					</nav>
				</div>
			</div>
		</nav>
	</header>
	<main class='content'>
		{% block main %}{% endblock %}
	</main>
	<footer>
		<div class="sigaImpacta">
			<h3 class="sigaImpacta">SIGA A IMPACTA</h3>
			<nav class="siga">
				<a class="redes_impacta" href="https://twitter.com/facimpacta" target="Blank" title="twitter">
					<img src="{% static '/' %}img/twitter.png" alt="Twitter Faculdade Impacta" />
				</a>
				<a class="redes_impacta" href="https://www.youtube.com/user/GrupoImpacta" target="Blank" title="youtube">
					<img src="{% static '/' %}img/youtube.png" alt="Youtube Faculdade Impacta" />
				</a>
				<a class="redes_impacta" href="https://www.facebook.com/FacImpacta/" target="Blank" title="facebook">
					<img src="{% static '/' %}img/facebook.png" alt="Facebook Faculdade Impacta" />
				</a>
				<a class="redes_impacta" href="https://www.instagram.com/facimpacta/" target="Blank" title="instagram">
					<img src="{% static '/' %}img/instagram.png" alt="Instagram Faculdade Impacta" />
				</a>
				<a class="redes_impacta" href="https://www.linkedin.com/edu/faculdade-impacta-tecnologia-161006" target="Blank" title="linkedin">
					<img src="{% static '/' %}img/linkedin.png" alt="Linkedin Faculdade Impacta" />
				</a>
			</nav>
		</div>
		<div class="copyright">
			<h4>© Grupo Draco 2017. Todos os direitos reservados. Política de privacidade
				<h4>
		</div>
	</footer>
</body>

</html>