{% extends 'base.html' %}
{% load static %}
{% block estilo_unico %}{% static '/' %}css/cursos.css{% endblock %} 
{% block script_unico %}{% endblock %}
{% block login %}{% endblock %}
{% block img_user %}{% endblock %}
{% block title %}Cursos - Impacta{% endblock %} 
{% block main %}
<section class = 'margin'>
	<h1 class="t1 ">Cursos</h1>
	<nav class="cursos">
		{% for curso in cursos %}
		<a class="it" href = "{% url 'pag_curso' sigla=curso.sigla %}">
			<button class="it">{{ curso }}</button>
		</a>
		{% endfor %}
	</nav>
</section>
{% endblock %}