{% extends 'base.html' %}
{% load static %}

{% block estilo_unico %}{% endblock %}

{% block script_unico %}static/src/matricula.js{% endblock %}

{% block login %}{% endblock %}

{% block img_user %}{% endblock %}

{% block title %}Solicitação de matricula{% endblock %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
    {% for aluno in alunos %}
        <input type="checkbox" name="{{ aluno.ra }}">{{ aluno.nome }}<br>
    {% endfor %}
        <button type='submit'>Enviar</button>
    </form>
{% endblock %}