{% extends 'base.html' %}

{% load static %}

{% block estilo_unico %}{% static '/' %}css/site.css{% endblock %}

{% block script_unico %}{% endblock %}
	   
{% block title %}Login{% endblock %}

{% block main %}
    <fieldset class="flexFieldSet">
        <form class="flexForm" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p class="inputGroup">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </p>
        {% endfor %}
            <button type="submit" class="linkBtn">Enviar</button>
            <a href="recuperar_senha.html">Esqueci a senha</a>
        </form>
    </fieldset>
{% endblock %}