{% extends 'base.html' %}
{% load static %}
{% block estilo_unico %}{% static '/' %}css/site.css{% endblock %}
{% block script_unico %}static/src/script.js{% endblock %}
{% block login %}{% endblock %}
{% block img_user %}{% endblock %}
{% block title %}Faculdade Impacta - Matricula{% endblock %}
{% block main %}
<!--<var class="flag">F</var>
    {% if flag == 'T' %}
        <section>
		    </br>
		    <p>Codigo Válido</p> 
            </br>
    {% else %}
        <section>
           </br>
            <p>Codigo Inválido</p> 
            </br>
    {% endif %}-->
<section class="content">
    <fieldset class="flexFieldSet">
        <form class="flexForm" method="POST">
        {% csrf_token %}
            <div class="inputGroup">
                <label for="curso">Curso:</label>
                <select class="informs" name="curso" id="curso">
                    <option>-- Curso --</option>
                </select>
            </div>
            <div class="inputGroup">
                <label for="disciplina">Disciplina:</label>
                <select class="informs" name="disciplina" id="disciplina">
                    <option>-- Disciplina --</option>
                </select>
                <label for="turma">Turma:</label>
                <select class="informs" name="turma" id="turma">
                    <option>-- Turma --</option>
                </select>
            </div>
            <div class="inputGroup dropdownList">
                <label for="alunos">Alunos:</label>
                <div class="selectionBox" onclick="selection_list()">
                    <span>-- Alunos --</span>
                </div>
                <!-- como passar um array pelo POST; django:
                    https://stackoverflow.com/questions/4581114/django-questionhow-to-pass-a-list-parameter-using-post-method -->
                <li class="selectionList" id="alunos">
                    <ul><input type="checkbox" name="alunos"value="aluno1">Aluno 1</input></ul>
                    <ul><input type="checkbox" name="alunos"value="aluno2">Aluno 2</input></ul>
                    <ul><input type="checkbox" name="alunos"value="aluno3">Aluno 3</input></ul>
                </li>
            </div>
            <button type="submit" class="submitBtn">Matricular</button>
        </form>
    </fieldset>
</section>
{% endblock %}