{% extends 'area_aluno.html' %}
{% load static %}

{% block conteudoAluno %}
<div class="width80 maxHeight content">
    <div class="msgPanel">
        <h2 class="maxWidth centerText">Avisos</h2>
        {% for m in user %}
        <div class="msg">
            <p class="remetente">{% if m in user %}{{ m }}{% endif %}</p>
            <p class="texto">{{ mensagem }}</p>
            <span>{{ data_agora }}</span>
        </div>
        {% endfor %}
    </div>

    <fieldset class="flexFieldSet">
    <legend>Enviar Mensagem</legend>
        <form class="flexForm" method="POST">
        {% csrf_token %}
            <input type="hidden" name="ra_remetente" value="ra_remetente"></input>
            <input type="hidden" name="data_envio" value="{{ data_agora }}"></input>
            <div class="inputGroup">
                <label for="destinatario">Para:</label>
                <input class="informs" name="destinatario" id="destinatario"></input>
            </div>
            <textarea class="inputTextArea" name="msg"></textarea>
            <button type="submit" class="submitBtn">Enviar</button>
        </form>
    </fieldset>
</div>
{% endblock %}