{% extends 'base.html' %}
{% load static %}

{% block estilo_unico %}{% static '/' %}css/noticias.css{% endblock %}

{% block title %}Noticias - IMPACTA{% endblock %}

{% block main %}
	<section class = 'margin'>
		<h1 class = "conteudo">Notícias</h1>
		<article class = "conteudo">
			<h3 class = "conteudo">Batalhas de Robos na Impacta</h3>
			<p>A 1.ª Batalha de Robôs da Faculdade Impacta foi um sucesso! 
			Realizada pelos cursos de Análise e Desenvolvimento de Sistemas, 
			Banco de Dados, Gestão da TI, Redes de Computadores e Sistemas  
			de Informação, nossos alunos desenvolveram robôs para uma competição  
			cheia de emoção, tecnologia e aprendizado, em que o objetivo era  
			estourar o balão do robô do adversário. </br>
			#EuSouImpacta #AtitudeImpacta #FaculdadeImpacta #InternetDasCoisas #InternetOfThings #IOT</p>	
			<img class = "imagem" src="{% static '/' %}img\img2.jpeg" alt = "Batalha de robos da impacta"/></a>

			<h3 class = "conteudo">Perfil comportamental: o que é e os benefícios de usá-lo na sua empresa.</h3>
			<p class = "conteudo" >Cada pessoa é única e possui sua própria forma de agir nas mais variadas situações. 
			Isso se deve a influências externas que contribuem na formação do 
			caráter de cada uma, como a cultura, o tipo de criação e o ambiente. 
			Compreender o próximo e respeitar essas diferenças é essencial para melhorar a 
			convivência e garantir a harmonia em qualquer ambiente de trabalho. 
			Afinal, um setor empresarial agradável garante mais afinidade e produtividade. 
			No entanto, para obter sucesso nisso, é necessário realizar um estudo de perfil comportamental e colocá-lo em prática 
			na empresa — ou melhor, é preciso saber identificar o perfil de cada 
			colaborador para definir em quais funções eles se adéquam mais.</p>
		</article>
		<img class = "imagem" src="{% static '/' %}img\img3.jpg" alt = "estudo alguns alunos estudando"/></a>
	</section>
{% endblock %}

