{% extends 'base.html' %}

{% load static %}

{% block estilo_unico %}{% static '/' %}css/redefinir.css{% endblock %}

{% block script_unico %}{% endblock %}
	   
{% block title %}Redefinir Senha{% endblock %}

{% block main %}
<section>
    <form class="flexForm" method="POST">
        <h2> Recupere sua senha Aqui<h2>
        
        <input id="email" class="informs" name="email" type="email" placeholder="E-mail" required/>
        <input type="text" name"RA" placeholder="Informe seu RA" required/>
        <input id="senha" class="informs" name="senha" type="password" placeholder="Nova Senha" required/>
        <input id="Confirmasenha" class="informs" name="senha" type="password" placeholder="Confirme a Senha" required/>
        
        <textarea name="Duvida" placeholder="Em caso de Duvida Deixe sua Sugestão aqui!"></textarea>
        <input type="button" value="ENVIAR" id="boton">
        <input type="button" value="SALVAR" id="boton">
    </form>
</section>
{% endblock %}