.areaAluno{
	display:flex;
	justify-content: space-between;
	align-content: flex-start;
	position:relative;
	width:100%;
	top:50px;
	padding-top:2em;
}
.listLinks{
	width:15em;
	height:9em;
	background-color: lightgray;
	border-top-right-radius: 2%;
	border-bottom-right-radius: 2%;
}
.liLink{
	list-style: none;
	font-family: arial;
	font-size: 1.2em;
	color:#ffffff;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.4em;
}

.msgPanel{
	display: flex;
	justify-content: center;
	width:40em;
	height:30em;
	background-color: lightgrey;
	margin-right: 5em;
	margin-bottom: 5em;
}
.msg{
	width:97%;
	border-bottom: 1px solid black;
	background-color: white;
}
.remetente{
	font-weight: bold;
}
.texto{
	margin-left:5px;
}