*{
	box-sizing:border-box;
}

.tblContainer{
	margin-top:4em;
	display: flex;
	flex-direction:column;
	
}

.heads{
	display:flex;
	align-content: stretch;
}

.itmCur{
	flex: 1;
}

.itmPer{
	flex: 1;
}

.itmDur{
	flex: 1;
}

div.itmObj{
	flex: 9;
	text-align: justify;
}

.tbl{
	font-size: 1em;
	border-collapse: collapse;
	text-align:justify;
}
br{
	line-height:150%;
}
div.tblTitle{
	background-color: #00a6e1;
	color: white;
	padding:1em;
	border-collapse: collapse;
	text-align:center;
}


.tblLine{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
}

.tblLine:nth-child(odd){
	border-right: 1px solid white;
	background-color: #d4d4d4;
}

.tblLine:hover{
	background-color: #32c9ff;
	transition:0.5s;
}

.tblCell{
	padding:0.5em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
	.heads .itmPer,.heads .itmDur,.heads .itmObj{
		display:none;
	}
	
	.tblLine .itmPer,.tblLine .itmDur,.tblLine .itmObj{
		display:none;
	}
	
	.tblLine{
		background-color: #f2f2f2;
		display: flex;
		flex-direction: column;
		position:relative;
	}
	
	.tblLine:hover div.tblCell{
		display:flex;
		z-index: 1;
	}

}